azure-common
azure-core
azure-mgmt-core
azure-mgmt-storage
azure-storage-blob
azure-servicebus
fastai==2.7.12
numpy<1.25
imutils
torch
torchvision
torchaudio
pandas
numpy
polars
seaborn
xlsxwriter
chardet
geopandas
python-docx
memory_profiler
pyarrow
fiona
pyproj
opencv-python